---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Observation' id='CSV-CustomFormExample2-CUST-ITM' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Observation/CSV-CustomFormExample2-CUST-ITM - Change History</h2>
  <p>History of changes for CSV-CustomFormExample2-CUST-ITM {{type | downcase}}.</p>

  {%include Observation-CSV-CustomFormExample2-CUST-ITM-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
