---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Questionnaire' id='CUST-PNL' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Questionnaire/CUST-PNL - Change History</h2>
  <p>History of changes for CUST-PNL {{type | downcase}}.</p>

  {%include Questionnaire-CUST-PNL-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
