---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='QuestionnaireResponse' id='5770517' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: QuestionnaireResponse/5770517 - Change History</h2>
  <p>History of changes for 5770517 {{type | downcase}}.</p>

  {%include QuestionnaireResponse-5770517-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
